body{
  
  width: 100%;
}



.container {
  
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Ensure it covers the full viewport */
  color: #fff;
}
h1
{
  color: #fff;
}

.btn
{
background: #3bb8f7;
color: #333;
}
#forecast .btn
{
  background: #1b78eb;
  color: #ced5f5;
}