body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content closer to the top */
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  font-size: 1.5em;
  color: #126cd4;
  padding-top: 20px; /* Optional: Add some space from the top */
}


.weather-app-content {
  text-align: center;
  background: rgba(159, 198, 243, 0.709); /* Optional: Adds a subtle background */
  padding: 20px;
  border-radius: 10px;
}

h1 {
  color: #fff;
}

.btn {
  background: #3bb8f7;
  color: #333;
}
